// /*Fuentes*/
@font-face {
    font-family: "Signika";
    src: 
        local("Signika"), 
        local("Signika Regular"),
        url(fonts/Signika-Regular.woff) format('woff'),
        url(fonts/Signika-Regular.ttf) format('truetype'),
        local("sans-serif")
        ;
    font-weight: 700;
    font-style: normal;
}

