/*Fuentes*/
@font-face {
    font-family: "Signika";
    src: url(fonts/Signika-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Signika";
    src: url(fonts/Signika-Light.ttf);
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Signika";
    src: url(fonts/Signika-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Signika";
    src: url(fonts/Signika-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Signika";
    src: url(fonts/Signika-SemiBold.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MaterialSymbolsOutlined";
    src: url('fonts/MaterialSymbolsOutlined.ttf');
    font-weight: normal;
    font-style: normal;
}